@font-face {
    font-family: "GrandSlangBSide";
    src: url('~assets/fonts/GrandSlang-B-Side.otf') format('opentype');
}

@font-face {
    font-family: "GrandSlangRoman";
    src: url('~assets/fonts/GrandSlang-roman.otf') format('opentype');
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('~assets/fonts/SuisseIntl-Regular.otf') format('opentype');
    font-weight: 'regular';
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('~assets/fonts/SuisseIntl-Light.otf') format('opentype');
    font-weight: 'light';
}